<div>

    <p>ng-template-demo works!</p>

    <section>
        <h2>ng-if without template</h2>
        <div>
            <input type="text" [value]="searchQuery" (input)="handleChange($event)" />
            <p *ngIf="searchQuery.length > 2">Search for {{searchQuery}}</p>
        </div>

        <!-- TODO: issue with template (not working) -->
        <!-- <div>
            <h2>ng-if with template</h2>
            <div>
                <input type="text" [value]="searchQuery" (input)="handleChange($event)" />
                <template [ngIf]="searchQuery.length>2">
                    <p>Search for {{searchQuery}}</p>
                </template>
            </div>
        </div> -->
    </section>
</div>