.status {
    width:10px;
    height:10px;
    border-radius:50%;
    display:inline-block;
    margin:0px 8px;
    background-color: #ec4040;
    &.checked-in {
        background-color: #2ecc71;
    }
}