<div>
    <span class="status" [ngClass]="{
        'checked-in': detail.checkedIn,
        'checked-out': !detail.checkedIn
    }">
    </span>

    <div *ngIf="this.editing">
        <input type="text" [value]="detail.fullname" (input)="handleNameChange(name.value)" #name>
    </div>
    <div *ngIf="!this.editing">
        {{detail.fullname}}
    </div>

    <button (click)="handleView()">View</button>
    <button (click)="handleToggleEdit()">{{this.editing ? "Done" : "Edit"}}</button>
    <button (click)="this.handleRemove()">Remove</button>
</div>