<div>
    <h3>Passenger Form</h3>

    <div *ngIf="detail">
        {{ detail | json }}
    </div>

    <form #form="ngForm" (submit)="handleSubmit(form.value, form.valid ?? false)" novalidate>
        <div>
            Passenger name:
            <input type="text" name="fullname" [ngModel]="detail.fullname" required>
            <div *n>

            </div>
        </div>

        <div>
            Id :
            <input type="number" name="id" [ngModel]="detail.id" #id="ngModel" required>
            <div *ngIf="id.errors && id.errors['required'] && id.dirty" class="error">
                id is required
            </div>
        </div>

        <div>
            <label>
                Checked in (using radio buttons):
            </label>
            <label>
                <input type="radio" name="checkedIn" [ngModel]="detail.checkedIn" [value]="true"
                    (ngModelChange)="handleCheckIn($event)"> Yes </label>
            <label>
                <input type="radio" name="checkedIn" [ngModel]="detail.checkedIn" [value]="false"
                    (ngModelChange)="handleCheckIn($event)"> No
            </label>
        </div>


        <div>
            <label>
                checkedIn (using checkbox):
            </label>
            <input type="checkbox" name="checkedIn" [ngModel]="detail.checkedIn"
                (ngModelChange)="handleCheckIn($event)"> Yes
        </div>


        <div *ngIf="detail.checkedIn">
            <label>
                Check in date :
            </label>
            <input type="number" name="checkInDate" [ngModel]="detail.checkedInDate">
        </div>


        <div>
            <abbr title="when you don't know api well"> Luggage (without using ngModelChange):</abbr>
            <select name="baggage" [ngModel]="detail.baggage">
                <option *ngFor="let item of luggage" [value]="item.key" [selected]="item.key===detail.baggage">
                    {{ item.value }}
                </option>
            </select>
        </div>


        <div>
            Luggage (using ngModelChange):
            <select name="baggage" [(ngModel)]="detail.baggage">
                <option *ngFor="let item of luggage" [ngValue]="item.key">
                    {{ item.value }}
                </option>
            </select>
        </div>

        <div>
            <button type="submit" [disabled]="form.invalid">Update passenger</button>
        </div>

    </form>

    <div>
        {{ form.value | json }}
    </div>

    <div>
        Form valid : {{ form.valid | json }}
    </div>

    <div>
        Form invalid : {{ form.invalid | json }}
    </div>
</div>